<h1>Edit <%= @landmark.name %></h1>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name">
  <input type="number" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed">

  <input type="submit" value="Edit Landmark">
</form>
